<div class="menu row">
  <div class="menu_name col-md-6 col-10">
    <div class="menu_vt">
    </div>
    <div class="menu_nameLab">Laboratory Work #4</div>
    <div class="menu_nameSubject">Web-programming (2891)</div>
  </div>
  <div class="menu_author col-sm-6 col-2">
    <div class="author_pic">
    </div>
    <div class="author_info">
      <div class="author_name">
        Danil Kladnitsky
      </div>
      <div class="author_group">
        P3232
      </div>
    </div>
  </div>
  <div class="menu_icon col-md-6 col-2" onclick="showMobileMenu()">
    <fa-icon [icon]="MenuIcon"></fa-icon>
  </div>
  <div class="menu_mobile col-12">
    <div class="author_pic">
    </div>
    <div class="author_info">
      <div class="author_name">
        Danil Kladnitsky
      </div>
      <div class="author_group">
        P3232
      </div>
    </div>
    <div class="exitIcon" onclick="exitApp()">
      <fa-icon [icon]="SignOutIcon"></fa-icon>
    </div>
  </div>
</div>
