table{margin-top: 5px;
    text-align: center;
}

input[type="text"]{
    width: 70%;
}
@media screen and (min-width: 1187px){
    table{
        width: 50%;
    }
    .enterData{
        width: 35%;
    }
    #graphen_tabl{
        display: none;
    }
    #graphen_mob{
        display: none;
    }
    #results{
        position: absolute;
  top: 0;
        left: 0;
       float: left;

    }
}
@media screen and (max-width: 1186px){
    table{
        width: 70%;
    }
    .enterData{
        width: 50%;
    }
    #graphen{
   display: none;
    }
    #graphen_mob{
        display: none;
    }

}
@media screen and (max-device-width: 672px){
    table{
        width: 90%;
        max-width: 90%;

    }
    .enterData{
        width: 90%;
    }
    #graphen_mob{
        display: inherit;
        margin:auto;
    }
    #graphen{
       display: none;
    }
    #graphen_tabl{
        display: none;
    }
}
.data{
    text-align: center;
    border-bottom: 1px solid #ffa500;
}
.coord{
    width: 30%;
    text-align: right;
}
div{
    text-align: center;
}
#check_table, #show{
  margin-bottom: 3px;
}
