
.form-register-link{
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.form-register-link a{
  color: gray;
}

.form-return-back{
  color: gray;
  display: block;
  margin-top: 10px;
  font-size: 14px;
  cursor: pointer
}
.btn-login{
  width: 100%;
}
label{
  color: black;
  float: left;
}
.btn-next{
  width: 100%;
}
.btn-back{
  margin-top: 10px;
  width: 100%;
}
.form-slide-2{
  display: none;
}

