.welcome{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-register-link{
  display: block;
  margin-top: 10px;
  font-size: 14px;
}
.form-register-link a{
  color: gray;
}
.btn-login{
  width: 100%;
}
label{
  color: black;
  float: left !important;
}
