<div class="row">
  <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
    <div class="px-2">
      <form action="" class="justify-content-center">
        <div class="form-group">
          <label for="username" >Имя</label>
          <input id="username" type="text" [(ngModel)]="userName" name="username" class="form-control" required placeholder="Андрей Петров">
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input id="password" type="password" [(ngModel)]="password" name="password"  required class="form-control" placeholder="********">
        </div>
       <button (click)="login()" class="btn btn-primary btn-login">Войти в систему</button>
        <p class="form-register-link"><a routerLink="/register">Нет аккаунта? Нажмите, чтобы зарегистрироваться</a></p>
        <p class="form-error" *ngIf="response">{{response}}</p>

      </form>
    </div>
  </div>
</div>
